@font-face {
    font-family: "Monstserrat";
    src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "gallient";
    src: url("../font/gallientregular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}

