footer {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $beige;
    #container-footer {
        width: 1190px;
        height: auto;
        display: flex;
        flex-direction: column;
        h2 {
            height: 100%;
            font-size: 15px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 2px;
        }
    }
}