footer {
    height: 89px;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: $beige;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    
    #container-footer {
        width: 68%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 2px;
        }
        p {
            font-family: 'gallient';
        }
        div {
            letter-spacing: 6px;
        }
    }
}