* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

@mixin flex($dir:column,$just:center,$align:center) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $just;
}

H1 {
    font-family: 'Roboto';
    font-size: 40px;
}

H2 {
    font-family: 'Roboto';
    font-size: 30px;
    letter-spacing: 5px;
}

p {
    color: black;
}

a {
    text-decoration: none;
}

