header {
    width: auto;
    height: 80px;
    text-decoration: none;
    display: flex;
    background-color: $beige;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    justify-content: center;
    nav {
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
        background-color: #ebe0d9;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
        h1 {
            display: flex;
            align-items: center;
            letter-spacing: 2px;}
        ul {
            width: 100%;
            height: auto;
            display: flex;
            font-family: 'montserrat';
            font-weight: 500;
            align-items: center;
            li {
                width: 100%;
                display: flex;
                justify-content: space-around;
                font-size: 14px;
                a {
                    color: black;
                    letter-spacing: 3px;
                    width: auto; 
                }
                a:hover {
                    border-bottom: 2px solid black;
                }
            }
            li:hover {
                color: black;
                opacity: 0.5;
            }
        } 
    }
}
#header-banner {
    width: 100%;
    height: 100px;
    display: flex;
    #header-banner-container {
        width: 1920px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

