#home-section {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  #container-in-home {
    height: auto;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/image/home/background-home.jpg');
    background-size: cover;
    border-radius: 30px;
    #home {
      height: 700px;
      width: 1170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      #container-home {
        width: 50%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid white;
        background-image: url('../img/image/home/4copie.jpg');
        background-size: cover;
        opacity: 0.9;
        border-radius: 30px;
        #buttons-welcome {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          text-align: center;
          width: 100%;
          height: 100%;
          margin: 0 auto;
        }

        .container {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          padding:  40px 0px;
          width: auto;
          height: auto;
          span {
            color: rgb(0, 0, 0);
          }
        }
        h1 {
          text-align: left;
          color: #444;
          letter-spacing: 0.05em;
          margin: 0 0 0.4em;
          font-size: 1em;
        }
        p {
          text-align: left;
          color: #444;
          letter-spacing: 0.05em;
          font-size: 0.8em;
          margin: 0 0 2em;
        }
        .btn {
          letter-spacing: 0.1em;
          cursor: pointer;
          font-size: 14px;
          font-weight: 400;
          line-height: 45px;
          max-width: 160px;
          position: relative;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%;
        }
        .btn:hover {
          text-decoration: none;
        }
        .effect01 {
          color: #ffffff;
          // border: 1px solid #fff;
          // border-radius: 12px;
          // box-shadow: 0px 0px 0px 1px #fff inset;
          overflow: hidden;
          position: relative;
          transition: all 0.3s ease-in-out;
          text-transform: uppercase;
          font-family: "gallient";
          opacity: 0.9;
          font-size: 14px;
          font-weight: 800;
        }
        // .effect01:hover {
          // border: 0.5px solid rgb(0, 0, 0);
          // background-color: $beige;
          // background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
          // box-shadow:0px 0px 0px 1px #EEE inset;
        // }
        .effect01 span {
          transition: all 0.2s ease-out;
          z-index: 2;
        }
        .effect01:hover span{
          letter-spacing: 0.13em;
          color: #333;
        }
        .effect01:after {
          background: #FFF;
          border: 0px solid #000;
          content: "";
          height: 155px;
          left: -75px;
          opacity: .8;
          position: absolute;
          top: -50px;
          transform: rotate(35deg);
          width: 20px;
          transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
          z-index: 1;
        }
        .effect01:hover:after {
          background: #FFF;
          // border: 5px solid #000;
          opacity: 0;
          left: 120%;
          transform: rotate(40deg);
        }
      }
    }
  }
}