#section-profil-details {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    #section-profil-details-container {
        width: 68%;
        height: auto;
        background-color: $beige;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
        border-radius: 30px;
        #container-rental-item-details {
            width: 80%;
            height: auto;
            margin: 30px auto;
            justify-content: center;
            grid-gap: 30px;
            display: flex;
            flex-wrap: wrap;
            .rental-item-details {
                width: 100%;
                height: auto;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-radius: 20px;
                padding: 30px;

                img {
                    width: 80%;
                    height: auto;
                    border-radius: 20px;
                }
                h3 {
                    font-size: 20px;
                    margin: 10px;

                }
                >div {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    a {
                        font-family: 'roboto';
                        color: $beige;
                        padding: 5px 20px;
                        font-size: 15px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                    }
                    a:hover {
                        opacity: 0.8;
                    }
                    .btn-edit {
                        background-color: black;
                        border-radius: 15px;
                        width: 40px;
                        height: auto;
                        margin: 10px;

                    }
                    .btn-delete {
                        background-color: black;
                        border-radius: 15px;
                        width: 40px;
                        height: auto;
                        margin: 10px;

                    }
                }
            }
            
        }
    }
}