#section-addnew {
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    #section-addnew-container {
        width: 68%;
        height: auto;
        background-color: $beige;
        background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
        border-radius: 30px;
        #container-addnew-item {
            width: 80%;
            height: auto;
            margin: 30px auto;
            grid-gap: 30px;
            align-items: center;
            background-color: white;
            background-color: $beige;
            background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
            form {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                border-radius: 30px;
                text-align: center;
                .input-form {
                    border-radius: 30px;
                    border: 2px solid black;
                    font-family: 'roboto';
                    background-color: white;
                    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
                    outline: none;

                }
                #file {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-left: 30%;

                }
                h3 {
                    font-size: 20px;
                    font-family: 'roboto';
                    margin-bottom: 10px;
                }
                #gpe-square-meter {
                    display: flex;
                }
                input, p {
                    font-family: 'Roboto';
                    margin-top: 10px;
                    font-weight: bold;
                }
                input, select, textarea, h3 {
                    padding: 10px;
                    margin-bottom: 10px;
                    text-align: center;
                }
            }
        }
    }
}