@font-face {
  font-family: "Monstserrat";
  src: url("../font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "gallient";
  src: url("../font/gallientregular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

H1 {
  font-family: "Roboto";
  font-size: 40px;
}

H2 {
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
}

h3 {
  font-size: 15px;
  font-family: "roboto";
  margin-bottom: 10px;
  font-weight: bold;
}

H4 {
  font-size: 12px;
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 3px;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: auto;
  height: 80px;
  text-decoration: none;
  display: flex;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  justify-content: center;
}
header nav {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
header nav h1 {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
}
header nav ul {
  width: 100%;
  height: auto;
  display: flex;
  font-family: "montserrat";
  font-weight: 500;
  align-items: center;
}
header nav ul li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
header nav ul li a {
  color: black;
  letter-spacing: 3px;
  width: auto;
}
header nav ul li a:hover {
  border-bottom: 2px solid black;
}
header nav ul li:hover {
  color: black;
  opacity: 0.5;
}

#header-banner {
  width: 100%;
  height: 100px;
  display: flex;
}
#header-banner #header-banner-container {
  width: 1920px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-section {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#home-section #container-in-home {
  height: auto;
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/image/home/background-home.jpg");
  background-size: cover;
  border-radius: 30px;
}
#home-section #container-in-home #home {
  height: 700px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home-section #container-in-home #home #container-home {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-image: url("/assets/img/image/home/4 copie.jpg");
  background-size: cover;
  opacity: 0.9;
  border-radius: 30px;
}
#home-section #container-in-home #home #container-home #buttons-welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#home-section #container-in-home #home #container-home .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
  width: auto;
  height: auto;
}
#home-section #container-in-home #home #container-home .container span {
  color: black;
}
#home-section #container-in-home #home #container-home h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}
#home-section #container-in-home #home #container-home p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}
#home-section #container-in-home #home #container-home .btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
#home-section #container-in-home #home #container-home .btn:hover {
  text-decoration: none;
}
#home-section #container-in-home #home #container-home .effect01 {
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 1px #fff inset;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "gallient";
  opacity: 0.9;
  font-size: 14px;
  font-weight: 800;
}
#home-section #container-in-home #home #container-home .effect01:hover {
  border: 0.5px solid black;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  box-shadow: 0px 0px 0px 1px #EEE inset;
}
#home-section #container-in-home #home #container-home .effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
#home-section #container-in-home #home #container-home .effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}
#home-section #container-in-home #home #container-home .effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 20px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
#home-section #container-in-home #home #container-home .effect01:hover:after {
  background: #FFF;
  border: 5px solid #000;
  opacity: 0;
  left: 120%;
  transform: rotate(40deg);
}

footer {
  height: 89px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
footer #container-footer {
  width: 68%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer #container-footer h2 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}
footer #container-footer p {
  font-family: "gallient";
}
footer #container-footer div {
  letter-spacing: 6px;
}

#rental-container {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#rental-container #container-in {
  width: 68%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
#rental-container #container-in .rental {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 60px;
  padding: 17px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#rental-container #container-in .rental img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin-bottom: 10px;
}
#rental-container #container-in .rental h3 {
  font-size: 15px;
  font-family: "roboto";
  margin-bottom: 10px;
}
#rental-container #container-in .rental p {
  font-size: 10px;
  font-family: "roboto";
  margin-bottom: 10px;
}
#rental-container #container-in .rental .price {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rental-container #container-in .rental .price :first-child {
  font-weight: bolder;
}
#rental-container #container-in .rental .price h4 {
  margin-bottom: 10px;
  text-align: center;
}
#rental-container #container-in .rental .price p {
  padding-right: 4px;
  font-size: 14px;
}
#rental-container #container-in .rental .price :first-child {
  font-size: 20px;
  font-family: "gallient";
  letter-spacing: 3px;
}
#rental-container #container-in .rental #btn-details-rental {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
#rental-container #container-in .rental #btn-details-rental p {
  border: 1px solid black;
  font-family: "Roboto";
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
#rental-container #container-in .rental #btn-details-rental p:hover {
  opacity: 0.7;
}
#rental-container #container-in .rental #etoile {
  width: 13px;
  height: 13px;
}
#rental-container #container-in .rental #etoile:hover {
  opacity: 0.5;
}

#login-section {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
#login-section #login-container {
  width: 68%;
  height: auto;
  background-image: url("../img/image/home/background-home.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}
#login-section #login-container #login-container-in {
  height: 700px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login-section #login-container #login-container-in #login-inscription-utilisateur {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: auto;
  height: 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #ebe0d9;
  padding: 5px 10px 5px 10px;
}
#login-section #login-container #login-container-in #login-inscription-utilisateur p {
  font-family: "gallient";
  color: black;
}
#login-section #login-container #login-container-in #login-inscription-utilisateur a {
  text-decoration: none;
  color: white;
  font-family: "roboto";
}
#login-section #login-container #login-container-in #login-inscription-utilisateur a:hover {
  text-decoration: none;
  color: black;
  font-family: "roboto";
  margin-top: 10px;
  opacity: 1;
  transition: ease-in 0.4s;
}
#login-section #login-container #login-container-in #login-formulaire-container {
  width: 39vw;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-image: url("/assets/img/image/home/4 copie.jpg");
  background-size: cover;
  opacity: 1;
  border-radius: 30px;
  opacity: 0.9;
}
#login-section #login-container #login-container-in #login-formulaire-container .login-sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 23vw;
}
#login-section #login-container #login-container-in #login-formulaire-container .login-sign-in .login-input-form {
  font-family: "roboto";
  text-align: center;
  height: 40px;
  background-color: #f7e9df;
  color: black;
  outline: none;
  width: 100%;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10px;
}
#login-section #login-container #login-container-in #login-formulaire-container .login-sign-in #btn-contact {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-decoration: none;
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: black;
}
#login-section #login-container #login-container-in #login-formulaire-container .login-sign-in #btn-contact:hover {
  background-color: #f7e9df;
  transition: 0.3s ease-in;
  color: black;
}
#login-section #login-container #login-container-in #login-formulaire-container .login-sign-in p {
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}

#signin-container {
  width: 100%;
  height: 700px;
  background-image: url("../img/image/home/background-home.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#signin-container #signin-container-in {
  height: 700px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
#signin-container #signin-container-in #signin-formulaire-container {
  width: 39vw;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-image: url("/assets/img/image/home/4 copie.jpg");
  background-size: cover;
  opacity: 1;
  border-radius: 30px;
}
#signin-container #signin-container-in #signin-formulaire-container .sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 23vw;
}
#signin-container #signin-container-in #signin-formulaire-container .sign-in .signin-input-form {
  font-family: "roboto";
  text-align: center;
  height: 40px;
  background-color: #f7e9df;
  color: black;
  outline: none;
  width: 100%;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10px;
}
#signin-container #signin-container-in #signin-formulaire-container .sign-in #btn-contact {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-decoration: none;
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: black;
}
#signin-container #signin-container-in #signin-formulaire-container .sign-in #btn-contact:hover {
  background-color: #f7e9df;
  transition: 0.3s ease-in;
  color: black;
}
#signin-container #signin-container-in #signin-formulaire-container .sign-in p {
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}
#signin-container #signin-container-in #signin-formulaire-container #cgu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#signin-container #signin-container-in #signin-formulaire-container #cgu p {
  font-size: 12px;
  color: black;
}

#section-rental-details {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#section-rental-details #container-in-rental-details {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  border-radius: 30px;
}
#section-rental-details #container-in-rental-details #container-in-1 {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}
#section-rental-details #container-in-rental-details #container-in-1 img {
  width: 60%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  margin-bottom: 40px;
}
#section-rental-details #container-in-rental-details #container-in-2 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
#section-rental-details #container-in-rental-details #container-in-2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-2 h2 {
  margin-bottom: 20px;
}
#section-rental-details #container-in-rental-details #container-in-2 .price {
  display: flex;
  width: 22%;
}
#section-rental-details #container-in-rental-details #container-in-2 .price :first-child {
  font-size: 20px;
  font-family: "gallient";
  letter-spacing: 3px;
}
#section-rental-details #container-in-rental-details #container-in-2 .price :nth-child(2) {
  font-family: "roboto";
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
}
#section-rental-details #container-in-rental-details #container-in-2 .price :nth-child(3) {
  font-family: "roboto";
  font-weight: 700;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-2 :nth-child(3) {
  font-family: "roboto";
  text-align: justify;
}
#section-rental-details #container-in-rental-details #container-in-2 span {
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-3 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-3 img {
  margin-bottom: 15px;
  border-radius: 30px;
  width: 70%;
}
#section-rental-details #container-in-rental-details #container-in-3 span {
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-4 {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#section-rental-details #container-in-rental-details #container-in-4 span {
  border-bottom: 2px solid rgba(0, 0, 0, 0.178);
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-rental-details #container-in-rental-details #container-in-4 a {
  width: 30%;
  height: 45px;
  border: 1px solid black;
  border-radius: 30px;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "roboto";
  margin-bottom: 10px;
  font-weight: bold;
}
#section-rental-details #container-in-rental-details #container-in-4 a:hover {
  opacity: 0.7;
}

#section-profil-details {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#section-profil-details #section-profil-details-container {
  width: 68%;
  height: auto;
  background-color: #ebe0d9;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  border-radius: 30px;
}
#section-profil-details #section-profil-details-container #container-rental-item-details {
  width: 80%;
  height: auto;
  margin: 30px auto;
  justify-content: center;
  grid-gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 30px;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details h3 {
  font-size: 20px;
  margin: 10px;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details > div a {
  font-family: "roboto";
  color: #ebe0d9;
  padding: 5px 20px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details > div a:hover {
  opacity: 0.8;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details > div .btn-edit {
  background-color: black;
  border-radius: 15px;
  width: 40px;
  height: auto;
  margin: 10px;
}
#section-profil-details #section-profil-details-container #container-rental-item-details .rental-item-details > div .btn-delete {
  background-color: black;
  border-radius: 15px;
  width: 40px;
  height: auto;
  margin: 10px;
}

#section-profil {
  height: auto;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#section-profil #section-profil-container {
  width: 68%;
  height: auto;
  border-radius: 30px;
}
#section-profil #section-profil-container #container-rental-item {
  width: 80%;
  height: auto;
  margin: 30px auto;
  justify-content: center;
  grid-gap: 30px;
  display: flex;
}
#section-profil #section-profil-container #container-rental-item .rental-item {
  width: 100%;
  height: 445px;
  background-image: url("/assets/img/image/home/background-home.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 30px;
}
#section-profil #section-profil-container #container-rental-item .rental-item > div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#section-profil #section-profil-container #container-rental-item .rental-item > div a {
  font-family: "roboto";
  color: #ebe0d9;
  padding: 5px 20px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}
#section-profil #section-profil-container #container-rental-item .rental-item > div a:hover {
  opacity: 0.8;
}
#section-profil #section-profil-container #container-rental-item .rental-item > div .btn-manage {
  background-color: black;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  margin: 10px;
}
#section-profil #section-profil-container #container-rental-item .rental-item > div .btn-addnew {
  background-color: black;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
