* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

H1 {
  font-family: "Roboto";
  font-size: 40px;
}

H2 {
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
}

p {
  color: black;
}

a {
  text-decoration: none;
}

header {
  width: auto;
  height: 80px;
  text-decoration: none;
  display: flex;
  background-color: #ebe0d9;
  justify-content: center;
}
header nav {
  width: 80%;
  height: auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  background-color: #ebe0d9;
  text-align: center;
}
header nav h1 {
  display: flex;
  align-items: center;
  height: auto;
  letter-spacing: 2px;
}
header nav ul {
  width: 100%;
  height: auto;
  display: flex;
  font-family: "montserrat";
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
header nav ul li a {
  color: black;
  letter-spacing: 3px;
  width: auto;
}
header nav ul li a:hover {
  border-bottom: 2px solid black;
}
header nav ul li:hover {
  color: black;
  opacity: 0.5;
}

#container-in-home {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/image/home/background-home.jpg");
  background-size: cover;
}
#container-in-home #home {
  height: 700px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
#container-in-home #home #container-home {
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-image: url("/assets/img/image/home/4 copie.jpg");
  background-size: cover;
  opacity: 1;
  border-radius: 30px;
  /*btn_background*/
  /*btn_text*/
  /*highlight*/
}
#container-in-home #home #container-home #buttons-welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*   padding: 2em 0em; */
}
#container-in-home #home #container-home .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px 0px;
  width: auto;
  height: auto;
}
#container-in-home #home #container-home .container span {
  color: black;
}
#container-in-home #home #container-home h1 {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  margin: 0 0 0.4em;
  font-size: 1em;
}
#container-in-home #home #container-home p {
  text-align: left;
  color: #444;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  margin: 0 0 2em;
}
#container-in-home #home #container-home .btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
#container-in-home #home #container-home .btn:hover {
  text-decoration: none;
}
#container-in-home #home #container-home .effect01 {
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 0px 1px #fff inset;
  /* background-color: #000; */
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "gallient";
  opacity: 0.9;
  font-size: 14px;
  font-weight: 800;
}
#container-in-home #home #container-home .effect01:hover {
  border: 1px solid black;
  background-color: #FFF;
  box-shadow: 0px 0px 0px 1px #EEE inset;
}
#container-in-home #home #container-home .effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
#container-in-home #home #container-home .effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}
#container-in-home #home #container-home .effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  /*easeOutCirc*/
  z-index: 1;
}
#container-in-home #home #container-home .effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

footer {
  height: 89px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ebe0d9;
}
footer #container-footer {
  width: 1190px;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer #container-footer h2 {
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

#header-product {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
#header-product #search-product {
  width: 1920px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#product-container {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
#product-container #container-in {
  width: 68%;
  height: auto;
  background-color: #ebe0d9;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 30px;
}
#product-container #container-in .product {
  width: 30%;
  height: auto;
  background-color: white;
  text-align: center;
  margin: 60px;
  padding: 17px;
  border-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#product-container #container-in .product img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin-bottom: 10px;
}
#product-container #container-in .product h3 {
  font-size: 15px;
  font-family: "roboto";
  margin-bottom: 10px;
}
#product-container #container-in .product p {
  font-size: 10px;
  font-family: "roboto";
}

#login-container {
  width: 100%;
  height: 700px;
  background-image: url("../img/image/home/background-home.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#login-container #login-container-in {
  height: 700px;
  width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
}
#login-container #login-container-in #inscription-utilisateur {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: auto;
  height: 30px;
}
#login-container #login-container-in #inscription-utilisateur p {
  font-family: "Roboto";
  color: white;
}
#login-container #login-container-in #inscription-utilisateur a {
  text-decoration: none;
  color: black;
  font-family: "roboto";
  margin-top: 10px;
}
#login-container #login-container-in #inscription-utilisateur a:hover {
  text-decoration: none;
  color: black;
  font-family: "roboto";
  margin-top: 10px;
  opacity: 0.7;
}
#login-container #login-container-in #formulaire-container {
  width: 39vw;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background-image: url("/assets/img/image/home/4 copie.jpg");
  background-size: cover;
  opacity: 1;
  border-radius: 30px;
}
#login-container #login-container-in #formulaire-container .sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 15vw;
}
#login-container #login-container-in #formulaire-container .sign-in .input-form {
  font-family: "roboto";
  text-align: center;
  height: 40px;
  background-color: #f7e9df;
  color: black;
  outline: none;
  width: 100%;
  opacity: 0.7;
  font-size: 20px;
  border-radius: 10px;
}
#login-container #login-container-in #formulaire-container .sign-in a {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-decoration: none;
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  color: black;
}
#login-container #login-container-in #formulaire-container .sign-in a:hover {
  background-color: #f7e9df;
  transition: 0.3s ease-in;
}
#login-container #login-container-in #formulaire-container .sign-in p {
  font-family: "gallient";
  letter-spacing: 4px;
  opacity: 1;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
